# GULP gitignore file

# User setting file
settings.yaml

# Ignore all .DS_Store files 
# They are automatically created by MacOS when opening a folder
**/.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints/
